@media screen and (max-width: 2000px) {
    #profile .profile-text {
        margin-left: 8rem;
        margin-bottom: 10rem;
        font-size: 0px;
    }
}

@media screen and (max-width: 1600px) {
    /* Other styles remain unchanged */

    .about-containers {
        flex-wrap: wrap;
    }

    #profile .profile-text {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        max-width: 800px;
        font-size: 0px;
        transition: margin-left 0.5s ease;
    }

    #profile .title,
    #profile .button-container,
    #profile .socials-container {
        text-align: center;
    }

    #profile .button-container,
    #profile .socials-container {
        display: flex;
        justify-content: center;
    }

    #profile .title {
        margin-bottom: 1rem;
        font-size: 3rem; /* Adjust font size as needed */
    }

    #profile .button1 {
        width: auto; /* Allow the button to adjust its width based on content */
        font-size: 18px; /* Adjust font size as needed */
    }

    #experience,
    .experience-details-container {
        margin-top: 2rem;
    }

    #profile,
    .section-container {
        display: block;
    }

    .arrow {
        display: none;
    }

    .switch {
        margin-bottom: 2rem;
    }

    section,
    .section-container {
        height: fit-content;
    }

    section {
        margin: 0 5%;
    }

    #profile.parallax {
        background-size: 500px 450px;
        background-position: center bottom;
    }

    .about-containers {
        margin-top: 0;
    }

    .about-pic-container {
        width: 400px;
        height: 400px;
        margin: 0 auto 2rem;
    }

    .section-container {
        margin-top: 2rem;
    }
    .skills-details-container {
        margin-top: 2rem;
    }

    .contact-info-container p {
        margin: 0.5rem;
    }
}

@media screen and (max-width: 700px) {
    .logo {
        font-size: 20px;
        margin-left: 20px;
    }

    #profile {
        height: 83vh;
        margin-bottom: 0;
    }

    #profile .profile-text-p2 {
        font-size: 3.0rem;
    }

    article {
        font-size: 1rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .nav-links {
        gap: 1rem;
        margin-left: 0.5rem;
    }
    .nav-links2 li {
        display: inline-block;
        margin-right: 8px; 
    }    
    .about-containers, .contact-info-upper-container, .button-container {
        flex-wrap: wrap;
    }
    .contact-info-container {
        margin: 0;
    }
    .contact-info-container p, .nav-links li a {
        font-size: 1rem;
    }
    .skills-sub-title {
        font-size: 1.25 rem;
    }
    #about {
        margin-top: 10rem;
    }
    .profile-text-p2 {
        font-size: 1.25 rem;
    }
    .title {
        font-size: 2rem;
    }
    .text-container {
        text-align: justify;
    }

    #profile .profile-text {
        margin-left: 0rem;
        margin-bottom: 10rem;
    }
}